body {
  background-color: aliceblue;
}

.topNav {
  display: flex;
  justify-content: space-around;
  border-style: solid;
  list-style-type: none;
  background-color: antiquewhite;
  border-style: groove;
  border-radius: 10px 10px;
}

#homeNav {
  text-decoration: none;
}

#abtNav {
  text-decoration: none;
}

#projNav {
  text-decoration: none;
}

#welcome {
  text-align: center;
  background-color: beige;
  border-style: groove;
  border-radius: 10px 10px;
}

#intro {
  text-align: center;
  flex-wrap: wrap;
  background-color: antiquewhite;
  border-style: groove;
  border-radius: 10px 10px;
  margin: auto;
  padding: 8px;
}

#projOv {
  text-align: center;
}

.projectCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

footer {
  justify-content: center;
}

.botNav {
  display: flex;
  flex-direction: row;
  border-style: groove;
  border-radius: 10px 10px;
  padding: 16px;
  list-style-type: none;
  justify-content: space-around;
  background-color: antiquewhite;
}

#learn {
  text-decoration: none;
}

#contact {
  text-decoration: none;
}
