body{
  background-color: aliceblue;
}

.topNav{
  display: inline;
  justify-content: space-around;
  border-style: solid;
  list-style-type: none;
}

#homeNav{
  text-decoration: none;
}

#abtNav{
  text-decoration: none;
}

#projNav {
  text-decoration: none;
}

#welcome {
  text-align: center;
  background-color: beige;
}

#intro {
  text-align: center;
  flex-wrap: wrap;
  background-color: antiquewhite;
  margin: auto;
  padding: 8px;
}

#projects{
  text-align: center;
}

.projectCard{
  display: grid;
  justify-content: center;
}

.leftside {
    border-style: solid;
    display: flex;
    justify-content: flex-start;
    margin: auto;
}

footer {
  justify-content: center;
}

.botNav {
    display: inline;
    justify-content: space-around;
    align-content: center;
    padding: 8px 8px;
    text-decoration: none;
}